body{
    background-color: black;
    background-image: url(../img/matrix.gif);
    background-attachment: fixed;
    background-position: fixed;
    background-size:cover;  
}

.cuadro{
    padding: 12%;
	width: 300px;
    margin: 0 auto;
}

.equipo{
    text-align: center;
    font-size: 1.2em;
    font-family: 'consolas';
    color: 000000;
    height: 250px;
	width: 300px;
	background-color: #15e015;
	border-radius: 10px;
	border: 1px solid #21262D;
    transition: all 0.3s;
}

.equipo:hover{
    color: #15e015;
    background-color: #000000;
}